script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="/js/script.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANpmFb2U9rjGAIaClkoTMJms8iOUE67XA&callback=initMap", async, defer)
