body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: lightgoldenrodyellow;
}

.container{
  border: 2px solid black;

}

label {
  padding: 5px;
}

#map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 80%;
  height: 100%;
}

#mapContainer {
  position: relative;
  height: 600px;
}